body {
  overflow-y: scroll;
}

#mainPanel {
  top: -41px;
}

#fplot {
  height: 90vh !important;
}

#lplot {
  height: 90vh !important;
}

#genreDiffPlot {
  height: 80vh !important;
}

#modelCmpPlot {
  height: 90vh !important;
}

#multiModelCmpPlot {
  height: 90vh !important;
}

#featCritPlot {
  height: 90vh !important;
}

#cql {
  font-family: monospace;
}

/* range slider input: swap CSS for .irs-line and .irs-bar to fill extremities instead of middle
   portion */
.outer-range-wrapper .irs-line {
  border-top: 1px solid #428bca;
  border-bottom: 1px solid #428bca;
  background: #428bca;
}

.outer-range-wrapper .irs-bar {
  background: linear-gradient(to bottom, #ddd -50%, #fff 150%);
  border: 1px solid #ccc;
  border-radius: 16px;
}

/* similarly with the noUiSlider column filtering */
#ltable .noUi-background {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51,51,51,.45);
    transition: background 450ms;
}

#ltable .noUi-connect {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
}

/* the global filtering input can't be disabled separately, so let's at least hide it */
.dataTables_wrapper > .row:nth-child(1) {
  display: none;
}
