#main-panel {
  top: -41px;
}

#fplot {
  height: 90vh !important;
}

#lplot {
  height: 90vh !important;
}

#cql {
  font-family: monospace;
}

/* range slider input: swap CSS for .irs-line and .irs-bar to fill extremities instead of middle
   portion */
.outer-range-wrapper .irs-line {
  border-top: 1px solid #428bca;
  border-bottom: 1px solid #428bca;
  background: #428bca;
}

.outer-range-wrapper .irs-bar {
  background: linear-gradient(to bottom, #ddd -50%, #fff 150%);
  border: 1px solid #ccc;
  -moz-border-radius: 16px;
  border-radius: 16px;
}